go 1.21.4

use (
	./go/animal-magic
	./go/annalyns-infiltration
	./go/bird-watcher
	./go/blackjack
	./go/card-tricks
	./go/cars-assemble
	./go/hello-world
	./go/lasagna
	./go/lasagna-master
	./go/need-for-speed
	./go/party-robot
	./go/vehicle-purchase
	./go/weather-forecast
	./go/welcome-to-tech-palace
)
